#edit > .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#edit > .box > .mark {
    -fx-shape: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("images/edit-button.png");
    -fx-pref-width: 25px;
    -fx-min-width: 25px;
    -fx-max-width: 25px;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-background-size: 25px 25px;


}

#edit:selected > .box > .mark {
    -fx-background-image: url("images/check.png");
}

#submitButton {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#submitButton:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}

#anchor {
    -fx-background-color: linear-gradient(#ff3333, #fda30e);

}

#bp1 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#bp2 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#bp3 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#bp4 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#bp5 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#bp6 {
    -fx-background-color: linear-gradient(#f1e034, #e3733d);
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

#Grid {
    -fx-border-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  white;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  white;
}
